{% capture about-ijcar %}
  IJCAR is the premier international joint conference on all aspects of
  automated reasoning, including foundations, implementations, and
  applications, comprising several leading conferences and workshops.

  The IJCAR 2020 technical program will consist of presentations of
  high-quality original research papers, short papers describing
  interesting work in progress, system descriptions, and invited talks.
  IJCAR 2020 is the 10th edition of IJCAR.

  IJCAR 2020 is the merger of the following leading events in automated
  reasoning:

  * [CADE](http://www.cadeinc.org)
    (Conference on Automated Deduction)

  * [FroCoS](http://frocos.cs.uiowa.edu)
    (Symposium on Frontiers of Combining Systems)

  * [ITP](https://itp19.cecs.pdx.edu/history/)
    (International Conference on Interactive Theorem Proving)

  * [TABLEAUX](http://www.tableaux-ar.org)
    (Conference on Analytic Tableaux and Related Methods)

  Recent editions of IJCAR have been held in:

  {% comment %}
  * Siena, Italy (2001)

  * Cork, Ireland (2004)

  * Seattle, USA (2006)

  * [Sydney, Australia (2008)](http://www.cs.miami.edu/home/geoff/Conferences/IJCAR/2008)

  * Edinburgh, UK (2010)
  {% endcomment %}
  
  * [Manchester, UK (2012)](http://ijcar.cs.manchester.ac.uk/)

  * [Vienna, Austria (2014)](http://cs.nyu.edu/ijcar2014/)

  * [Coimbra, Portugal (2016)](http://www.uc.pt/en/congressos/ijcar2016)

  * [Oxford, United Kingdom (2018)](http://ijcar2018.org/)


  IJCAR 2020 Website: <{{ site.data.conference.global.ijcar.url-2020 }}>

{% endcapture %}

{{ about-ijcar | markdownify }}

  <div class="center-block" style="width: 75%; max-width: 200px;">
    <a href="{{ site.data.conference.global.ijcar.url}}">
      <img class="img-responsive" src="{{ site.data.conference.global.ijcar.logo }}">
    </a>
  </div>
