---
layout: main-schedule-template
permalink: /wsprogram/day2
title: WS Program, June 30th
published: true
date: Tuesday, June 30th
day: '30'
month: '06'
daynum: 1
hstart: 9
hend: 20
days: [ "Monday, June 29th", "Tuesday, June 30th", "Sunday, July 5th", "Monday, July 6th", "Tuesday, July 7th" ]
program_base: wsprogram
---

<script> document.documentElement.style.setProperty('--schedule-rows-number', 44); </script>

{% assign conf = 'linearityTLLA' %}
{% assign confname = 'Lin & TLLA' %}
{% assign event = 'event-fscd-ws' %}
{% include 2018_data/schedule-session.html %}

{% assign conf = 'lfmtp' %}
{% assign confname = 'LFMTP' %}
{% assign event = 'event-ijcar-ws' %}
{% include 2018_data/schedule-session.html %}

{% assign conf = 'paar' %}
{% assign confname = 'PAAR' %}
{% assign event = 'event-ijcar-ws' %}
{% include 2018_data/schedule-session.html %}

{% assign conf = 'wil' %}
{% assign confname = 'WIL' %}
{% assign event = 'event-fscd-ws' %}
{% include 2018_data/schedule-session.html %}

{% assign conf = 'iwc' %}
{% assign confname = 'IWC' %}
{% assign event = 'event-fscd-ws' %}
{% include 2018_data/schedule-session.html %}

{% assign conf = 'ifip' %}
{% assign confname = 'IFIP WG 1.6' %}
{% assign event = 'event-fscd-ws' %}
{% include 2018_data/schedule-session.html %}

{% assign conf = 'isabelle' %}
{% assign confname = 'Isabelle' %}
{% assign event = 'event-ijcar-ws' %}
{% include 2018_data/schedule-session.html %}
